.form {
    width: 400px;
    height: 600px;
    background-color: lightgray;
    border-radius: 10px;
}

.reg_here {
    padding-bottom: 1px;
    padding-top: 10px;
    align-content: center;
    color: blueviolet;
    text-align: center;
}